.activity .graph.vertical .line .bar {
  animation-name: none !important;
}

.b-club .logo, .b-user.avatar img {
  transition: .2s ease !important;
}

.b-club .logo:hover, .b-user.avatar img:hover {
  transform: none !important;
}

.c-column.b-catalog_entry:hover {
    transform: none !important;
    box-shadow: 0 2px 6px 2px #1a1d21 !important;
    background: #1a1d21 !important;
}

.l-top_menu-v2 .menu-icon.mail:after {
  animation: none !important;
}

@media(min-width: 1200px) {
  .p-profiles .profile-head {
    .c-info .c-additionals, .c-brief header .notice {
      text-shadow: 0 0 0 #00b9ff !important;
    }
    
    .c-history .entry .title {
      animation: none !important;
    }
  }
}
