.activity .graph.vertical .line .bar {
  animation-duration: none !important;
  animation-name: none !important;
}

.b-club .logo, .b-user.avatar img {
  transition: .2s ease !important;
}

.b-club .logo:hover, .b-user.avatar img:hover {
  transform: none !important;
}

.c-column.b-catalog_entry:hover {
    transform: none !important;
    box-shadow: 0 2px 6px 2px #1a1d21 !important;
    background: #1a1d21 !important;
}

.l-top_menu-v2 .menu-icon.mail:after {
  animation: none !important;
}

.p-profiles .profile-head .c-history .entry:hover,
.p-topics .l-menu .reviews .entry:hover,
.p-topics .l-menu .clubs .entry:hover {
  	transform: none;
  	padding: 0px 3px 0px;
}

.b-catalog_entry-tooltip .inner .additional-images .link img {
    width: 48px;
    height: 75px;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
}
.b-catalog_entry-tooltip .inner .additional-images .link img:hover {
	transform: none;
}

.bar.vertical .line .bar-container .value {
    color: #ffffff !important;
}

.profile-actions .mail:hover::before, 
.profile-actions .talk:hover::before, 
.profile-actions .fav-remove:hover::before, 
.profile-actions .ban:hover::before, 
.profile-actions .fav-add:hover::before, 
.profile-actions .settings:hover::before, 
.profile-actions .ignore-add:hover::before, 
.profile-actions .ignore-remove:hover::before {
	transform: none;
}

@media screen and (min-width: 1530px),
@media screen and (min-width: 1830px) {
  	body#profiles_show .profile-head:before {
      	box-shadow: none;
  	}
}

@media screen and (max-width: 1290px) and (min-width: 1200px) {
	body#profiles_show .profile-head:before {
		box-shadow: none;
	}
}

@media(min-width: 1200px) {
    .l-page {
  		background-color: rgba(var(--menu-back), 0.9);
  	}
  
    .p-profiles .profile-head .c-brief .avatar img {
      	box-shadow: -15px 55px 25px -50px rgb(0 0 0 / 50%), 15px 55px 25px -50px rgb(0 0 0 / 50%);
  	}
  
    .p-profiles .profile-head .c-info .c-additionals, .c-brief header .notice {
    text-shadow: 0 0 0 #00b9ff !important;
    }

    .p-profiles .profile-head .c-history .entry .title {
    animation: none !important;
  }
}

@media screen and (min-width: 925px) {
  .about .b-catalog_entry, .about .b-catalog_entry:last-child {
      width: calc(100% / 5) !important;
  }
}
