/* animes */

/* Lain */
img[src*="/animes/"][src*="/339."] {
	content: url("https://i.imgur.com/jHNM8o4.jpg");
}

/* Owarimonogatari */
img[src*="/animes/"][src*="/35247."] {
	content: url("https://i.imgur.com/Hnl4L5l.jpg");
}

/* Ergo Proxy */
img[src*="/animes/"][src*="/790."] {
	content: url("https://i.imgur.com/gisURr2.jpg");
}

/* Evangelion */
img[src*="/animes/"][src*="/32."] {
	content: url("https://i.imgur.com/KxQbbL2.jpg");
}

/* Control */
img[src*="/animes/"][src*="/10163."] {
	content: url("https://i.imgur.com/lTJZL6H.jpg");
}

/* Steins;Gate */
img[src*="/animes/"][src*="/9253."] {
	content: url("https://i.imgur.com/5p8VxtA.jpg");
}

/* Another */
img[src*="/animes/"][src*="/11111."] {
	content: url("https://i.imgur.com/tmxf8B9.jpg");
}

/* Berserk */
img[src*="/animes/"][src*="/12115."] {
	content: url("https://i.imgur.com/y2eyL5x.jpg");
}

/* Houseki no Kuni */
img[src*="/animes/"][src*="/35557."] {
	content: url("https://i.imgur.com/KDpoaoh.jpg");
}

/* Made in Abyss */
img[src*="/animes/"][src*="/34599."] {
	content: url("https://i.imgur.com/XyJXz3D.jpg");
}
