/* animes */
.c-anime[id="339"] .image-cutter {
	background-image: url(https://i.imgur.com/upnxyIo.jpg) 50% / cover;
}
.c-anime[id="339"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="35247"] .image-cutter {
	background-image: url(https://i.imgur.com/lwLYr70.jpg) 50% / cover;
}
.c-anime[id="35247"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="z790"] .image-cutter {
	background-image: url(https://i.imgur.com/kqeixDo.jpg) 50% / cover;
}
.c-anime[id="z790"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="32"] .image-cutter {
	background-image: url(https://i.imgur.com/AcYTonm.jpg) 50% / cover;
}
.c-anime[id="32"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="10163"] .image-cutter {
	background-image: url(https://i.imgur.com/ICgvwVR.jpg) 50% / cover;
}
.c-anime[id="10163"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="35557"] .image-cutter {
	background-image: url(https://i.imgur.com/VRE2JO6.jpg) 50% / cover;
}
.c-anime[id="35557"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="11111"] .image-cutter {
	background-image: url(https://i.imgur.com/532H0gg.png) 50% / cover;
}
.c-anime[id="11111"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="12115"] .image-cutter {
	background-image: url(https://i.imgur.com/pGfu4e2.jpg) 50% / cover;
}
.c-anime[id="12115"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="12115"] .image-cutter {
	background-image: url(https://i.imgur.com/kkVI886.jpg) 50% / cover;
}
.c-anime[id="12115"] .image-cutter img {
	opacity: 0;
}
