.b-catalog_entry-tooltip a::before {
  	width: 160px;
  	height: 100%;
  	margin: 0;
}

.cc-favourites .c-character a.cover image-cutter::before {
	width: 100%;
  	height: 100%;
  	margin: 5px;
}

.cc.d-cutted_covers .c-character a.cover::before {
  	width: 86px;
  	height: 134px;
  	margin: 5px;
}

.cc-4a .c-column a.cover::before {
    	margin: 3px;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: calc(100% - 6px);
	height: calc(100% - 6px);
}

.line a.data.name::before,
a[href*="/characters/"][data-attrs]::before {
	display: none;
	visibility: hidden;
}

/* --- CHARACTERS LIST --- */

/* Asuka */
.b-catalog_entry-tooltip a[href*="/characters/94-"]::before,
.d-cutted_covers a.cover[href*="/characters/94-"] .image-cutter::before {
	background: url(https://i.imgur.com/6aafaGB.jpg) 50% / cover;
}

/* Ayanami */
.b-catalog_entry-tooltip a[href*="/characters/86-"]::before,
.d-cutted_covers a.cover[href*="/characters/86-"] .image-cutter::before {
	background: url(https://i.imgur.com/b2DkXNb.jpg) 50% / cover;
}

/* Kurisu */
.b-catalog_entry-tooltip a[href*="/characters/34470-"]::before,
.d-cutted_covers a.cover[href*="/characters/34470-"] .image-cutter::before {
	background: url(https://i.imgur.com/hrQsdoc.jpg) 50% / cover;
}

/* Misaki */
.b-catalog_entry-tooltip a[href*="/characters/z41402-"]::before,
.d-cutted_covers a.cover[href*="/characters/z41402-"] .image-cutter::before {
	background: url(https://i.imgur.com/JWMmaid.jpg) 50% / cover;
}

/* Araragi */
.b-catalog_entry-tooltip a[href*="/characters/22036-"]::before,
.d-cutted_covers a.cover[href*="/characters/22036-"] .image-cutter::before {
	background: url(https://i.imgur.com/EC0SOLv.jpg) 50% / cover;
}

/* Squall */
.b-catalog_entry-tooltip a[href*="/characters/11632-"]::before,
.d-cutted_covers a.cover[href*="/characters/11632-"] .image-cutter::before {
	background: url(https://i.imgur.com/S73xIWk.jpg) 50% / cover;
}

/* Vinsent */
.b-catalog_entry-tooltip a[href*="/characters/642-"]::before,
.d-cutted_covers a.cover[href*="/characters/642-"] .image-cutter::before {
	background: url(https://i.imgur.com/VJ9jVVD.jpg) 50% / cover;
}

/* Ougi */
.b-catalog_entry-tooltip a[href*="/characters/90393-"]::before,
.d-cutted_covers a.cover[href*="/characters/90393-"] .image-cutter::before {
	background: url(https://i.imgur.com/vxpI6qZ.jpg) 50% / cover;
}

/* Schierke */
.b-catalog_entry-tooltip a[href*="/characters/7864-"]::before,
.d-cutted_covers a.cover[href*="/characters/7864-"] .image-cutter::before {
	background: url(https://i.imgur.com/Ft0nJ5i.jpg) 50% / cover;
}

/* Cibo */
.b-catalog_entry-tooltip a[href*="/characters/3763-"]::before,
.d-cutted_covers a.cover[href*="/characters/3763-"] .image-cutter::before {
	background: url(https://i.imgur.com/bOSk7ax.jpg) 50% / cover;
}

/* Sanakan */
.b-catalog_entry-tooltip a[href*="/characters/10882-"]::before,
.d-cutted_covers a.cover[href*="/characters/10882-"] .image-cutter::before {
	background: url(https://i.imgur.com/zOka6Ej.jpg) 50% / cover;
}

/* Kongou */
.b-catalog_entry-tooltip a[href*="/characters/88651-"]::before,
.d-cutted_covers a.cover[href*="/characters/88651-"] .image-cutter::before {
	background: url(https://i.imgur.com/4Wija8y.jpg) 50% / cover;
}

/* Kurumi */
.b-catalog_entry-tooltip a[href*="/characters/z70069-"]::before,
.d-cutted_covers a.cover[href*="/characters/z70069-"] .image-cutter::before {
	background: url(https://i.imgur.com/LXY2QqO.jpg) 50% / cover;
}

/* Nagatoro */
.b-catalog_entry-tooltip a[href*="/characters/157797-"]::before,
.d-cutted_covers a.cover[href*="/characters/157797-"] .image-cutter::before {
	background: url(https://i.imgur.com/gsZ8miV.jpg) 50% / cover;
}

/* Guts */
.b-catalog_entry-tooltip a[href*="/characters/422-"]::before,
.d-cutted_covers a.cover[href*="/characters/422-"] .image-cutter::before {
	background: url(https://i.imgur.com/BoOlm60.jpg) 50% / cover;
}

/* Itachi */
.b-catalog_entry-tooltip a[href*="/characters/14-"]::before,
.d-cutted_covers a.cover[href*="/characters/14-"] .image-cutter::before {
	background: url(https://i.imgur.com/C18sOCH.jpg) 50% / cover;
}

/* Lelouch */
.b-catalog_entry-tooltip a[href*="/characters/417-"]::before,
.d-cutted_covers a.cover[href*="/characters/417-"] .image-cutter::before {
	background: url(https://i.imgur.com/8VCNTZP.jpg) 50% / cover;
}

/* C.C. */
.b-catalog_entry-tooltip a[href*="/characters/1111-"]::before,
.d-cutted_covers a.cover[href*="/characters/1111-"] .image-cutter::before {
	background: url(https://i.imgur.com/fBI4irX.jpg) 50% / cover;
}

/* 2B */
.b-catalog_entry-tooltip a[href*="/characters/153798-"]::before,
.d-cutted_covers a.cover[href*="/characters/153798-"] .image-cutter::before {
	background: url(https://i.imgur.com/NJ5LsXe.jpg) 50% / cover;
}

/* Albedo */
.b-catalog_entry-tooltip a[href*="/characters/116275-"]::before,
.d-cutted_covers a.cover[href*="/characters/116275-"] .image-cutter::before {
	background: url(https://i.imgur.com/p9UMXXC.jpg) 50% / cover;
}

/* Pain */
.b-catalog_entry-tooltip a[href*="/characters/3180-"]::before,
.d-cutted_covers a.cover[href*="/characters/3180-"] .image-cutter::before {
	background: url(https://i.imgur.com/SbLeFjt.jpg) 50% / cover;
}

/* Okabe */
.b-catalog_entry-tooltip a[href*="/characters/35252-"]::before,
.d-cutted_covers a.cover[href*="/characters/35252-"] .image-cutter::before {
	background: url(https://i.imgur.com/BzCEnZp.jpg) 50% / cover;
}

/* Aegis */
.b-catalog_entry-tooltip a[href*="/characters/6207-"]::before,
.d-cutted_covers a.cover[href*="/characters/6207-"] .image-cutter::before {
	background: url(https://i.imgur.com/6EJvdkq.jpg) 50% / cover;
}

/* Makoto */
.b-catalog_entry-tooltip a[href*="/characters/6203-"]::before,
.d-cutted_covers a.cover[href*="/characters/6203-"] .image-cutter::before {
	background: url(https://i.imgur.com/ZxVxP1e.jpg) 50% / cover;
}

/* --- END CHARACTERS LIST --- */

.b-catalog_entry-tooltip a[href*="/characters/94-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/86-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/34470-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/z41402-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/22036-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/11632-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/642-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/90393-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/7864-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/3763-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/10882-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/88651-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/z70069-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/157797-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/422-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/417-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/14-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/153798-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/1111-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/116275-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/35252-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/3180-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/6207-"]::before,
.b-catalog_entry-tooltip a[href*="/characters/6203-"]::before {
	content: '';
	position: absolute;
    	display: flex;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	z-index: 10;
  	border-radius: 4px;
}

img[src*="/characters/"][src*="/94."],
img[src*="/characters/"][src*="/86."],
img[src*="/characters/"][src*="/34470."],
img[src*="/characters/"][src*="/41402."],
img[src*="/characters/"][src*="/22036."],
img[src*="/characters/"][src*="/11632."],
img[src*="/characters/"][src*="/642."],
img[src*="/characters/"][src*="/90393."],
img[src*="/characters/"][src*="/7864."],
img[src*="/characters/"][src*="/3763."],
img[src*="/characters/"][src*="/10882."],
img[src*="/characters/"][src*="/88651."],
img[src*="/characters/"][src*="/70069."],
img[src*="/characters/"][src*="/157797."],
img[src*="/characters/"][src*="/422."],
img[src*="/characters/"][src*="/417."],
img[src*="/characters/"][src*="/14."],
img[src*="/characters/"][src*="/153798."],
img[src*="/characters/"][src*="/1111."],
img[src*="/characters/"][src*="/116275."],
img[src*="/characters/"][src*="/35252."],
img[src*="/characters/"][src*="/3180."],
img[src*="/characters/"][src*="/6207."],
img[src*="/characters/"][src*="/6203."] {
  	opscity: 0;
  	visibility: hidden;
}
