.b-catalog_entry-tooltip img.image {
    object-fit: cover;
    width: 35%;
    height: 100%;
    min-height: 250px;
    min-width: 160px;
    border-radius: 0.3rem;
}

.c-poster img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 350px;
    min-width: 229.66px;
    border-radius: 0.3rem;
}

/* Asuka */
img[src*="/characters/"][src*="/94."] {
	content: url("https://i.imgur.com/7ksO9W0.jpg");
}

/* Ayanami */
img[src*="/characters/"][src*="/86."] {
	content: url(https://i.imgur.com/b2DkXNb.jpg);
}

/* Cibo */
img[src*="/characters/"][src*="/3763."] {
	content: url("https://i.imgur.com/bOSk7ax.jpg");
}

/* Killy */
img[src*="/characters/"][src*="/3762."] {
	content: url("https://i.imgur.com/EzZTq61.jpg");
}

/* Lain */
img[src*="/characters/"][src*="/2219."] {
	content: url("https://i.imgur.com/sX4Bc1W.jpg");
}

/* Re-L */
img[src*="/characters/"][src*="/643."] {
	content: url("https://i.imgur.com/TRFYjWw.jpg");
}

/* Nagatoro */
img[src*="/characters/"][src*="/157797."] {
	content: url("https://i.imgur.com/gsZ8miV.jpg");
}

/* Guts */
img[src*="/characters/"][src*="/422."] {
	content: url("https://i.imgur.com/BoOlm60.jpg");
}

/* Kurisu */
img[src*="/characters/"][src*="/34470."] {
	content: url(https://i.imgur.com/hrQsdoc.jpg);
}

/* Misaki */
img[src*="/characters/"][src*="/41402."] {
	content: url(https://i.imgur.com/JWMmaid.jpg);
}

/* Araragi */
img[src*="/characters/"][src*="/22036."] {
	content: url(https://i.imgur.com/EC0SOLv.jpg);
}

/* Squall */
img[src*="/characters/"][src*="/11632."] {
	content: url(https://i.imgur.com/S73xIWk.jpg);
}

/* Vinsent */
img[src*="/characters/"][src*="/642."] {
	content: url(https://i.imgur.com/VJ9jVVD.jpg);
}

/* Ougi */
img[src*="/characters/"][src*="/90393."] {
	content: url(https://i.imgur.com/vxpI6qZ.jpg);
}

/* Schierke */
img[src*="/characters/"][src*="/7864."] {
	content: url(https://i.imgur.com/Ft0nJ5i.jpg);
}

/* Sanakan */
img[src*="/characters/"][src*="/10882."] {
	content: url(https://i.imgur.com/zOka6Ej.jpg);
}

/* Kongou */
img[src*="/characters/"][src*="/88651."] {
	content: url(https://i.imgur.com/4Wija8y.jpg);
}

/* Kurumi */
img[src*="/characters/"][src*="/70069."] {
	content: url(https://i.imgur.com/LXY2QqO.jpg);
}

/* Itachi */
img[src*="/characters/"][src*="/14."] {
	content: url(https://i.imgur.com/C18sOCH.jpg);
}

/* Lelouch */
img[src*="/characters/"][src*="/417."] {
	content: url(https://i.imgur.com/8VCNTZP.jpg);
}

/* C.C. */
img[src*="/characters/"][src*="/1111."] {
	content: url(https://i.imgur.com/fBI4irX.jpg);
}

/* 2B */
img[src*="/characters/"][src*="/153798."] {
	content: url(https://i.imgur.com/NJ5LsXe.jpg);
}

/* Albedo */
img[src*="/characters/"][src*="/116275."] {
	content: url(https://i.imgur.com/p9UMXXC.jpg);
}

/* Pain */
img[src*="/characters/"][src*="/3180."] {
	content: url(https://i.imgur.com/SbLeFjt.jpg);
}

/* Okabe */
img[src*="/characters/"][src*="/35252."] {
	content: url(https://i.imgur.com/BzCEnZp.jpg);
}

/* Aegis */
img[src*="/characters/"][src*="/6207."] {
	content: url(https://i.imgur.com/6EJvdkq.jpg);
}

/* Makoto */
img[src*="/characters/"][src*="/6203."] {
	content: url(https://i.imgur.com/ZxVxP1e.jpg);
}

/* Tatsumaki */
img[src*="/characters/"][src*="/81929."] {
	content: url("https://i.imgur.com/13HAIw5.jpg");
}

/* Fubuki */
img[src*="/characters/"][src*="/81931."] {
	content: url("https://i.imgur.com/5BkFsSi.jpg");
}

/* Formidable */
img[src*="/characters/"][src*="/191314."] {
	content: url("https://i.imgur.com/Adxbeac.jpg");
}
