/* mangas */
.c-manga[id="110737"] .image-cutter {
	background-image: url(https://i.imgur.com/Kdhs6M9.png) 50% / cover;
}
.c-anime[id="110737"] .image-cutter img {
	opacity: 0;
}

.c-anime[id="44489"] .image-cutter {
	background-image: url(https://i.imgur.com/oMVcn9Z.png) 50% / cover;
}
.c-anime[id="44489"] .image-cutter img {
	opacity: 0;
}
