/* mangas */

/* Berserk */
img[src*="/mangas/"][src*="/2."] {
	content: url("https://i.imgur.com/fM7lObI.jpg");
}

/* Blame */
img[src*="/mangas/"][src*="/149."] {
	content: url("https://i.imgur.com/r07cqmi.jpg");
}

/* Houseki no Kuni */
img[src*="/mangas/"][src*="/44489."] {
	content: url("https://i.imgur.com/3w6foo5.jpg");
}
